beautifulsoup4==4.14.3
cmd2==3.5.1
colorama==0.4.6
cryptography==48.0.0
defusedxml==0.7.1
dnspython==2.8.0
fastapi==0.136.1
holehe==1.61
httpx==0.28.1
jsonschema==4.26.0
loguru==0.7.3
pandas==3.0.3
phonenumbers==9.0.30
pydantic==2.13.4
pyfiglet==1.0.4
pytest==8.3.3
python_whois==0.9.6
Requests==2.34.0
requests_futures==1.0.2
rich==15.0.0
rstr==3.2.2
tomli==2.4.1
uvicorn==0.46.0
